span {
  background-color: yellow;
  border: 1px solid;
}
div {
  background-color: yellow;
  border: 1px solid black;
}

div.container {
  background-color: skyblue;
  position: relative;
  right: 5px;
}
.top {
  position: relative;
  top: 5px;
  z-index: 1;
}

.right {
  position: relative;
  right: 5px;
}

.bottom {
  position: relative;
  bottom: 5px;
}

.left {
  position: relative;
  left: 5px;
}

.space-between {
  position: relative;
  left: 10px;
  right: 5px;
}

#fixed {
  background-color: plum;
  position: fixed;
  right: 0;
}

#absolute {
  background-color: yellowgreen;
  position: absolute;
  right: 0;
}

#parent {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: skyblue;
}

#child {
  position: absolute;
  right: 0;
}
