.logo {
  display: inline-block;
  padding-left: 160px;
  padding-right: 270px;
}
.nav-items {
  display: inline-block;
}
.nav-items div {
  display: inline-block;
  padding: 0 32px;
}
.nav-links {
  display: inline-block;
  padding: 0 20px;
}
.nav-links #github {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(./web_advanced/portfolio/src/profile/git.svg);
}
